.show {
  width: 590px;
  height: 470px;
  overflow: hidden;
  position: relative;
  margin: 100px auto;
}
.page {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  margin-left: -91px;
}
