header ul {
  list-style: none;
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;
}
header ul a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 42px;
}
header ul a:hover {
  color: rgb(114, 190, 226);
  border-bottom: 4px solid rgb(114, 190, 226);
  border-top: 4px solid #000;
}
